<section class="l-slide w-full h-full p-8 flex flex-col relative overflow-hidden" id="slide-4">
    <div class="l-master-anchor"></div>
    
    <h2 class="s-title mb-4 relative z-10" data-field="title" data-motion="fade-in"></h2>
    
    <div class="h-full w-full grid grid-cols-4 grid-rows-3 gap-4 pb-2 relative z-10" data-motion="stagger-up" data-delay="100">
        <div class="s-card col-span-2 row-span-2 flex flex-col justify-end p-6">
            <h3 class="s-highlight text-3xl font-extrabold mb-2" data-field="hero_box_title"></h3>
            <p class="s-text-body font-medium" data-field="hero_box_text"></p>
        </div>
        <div class="s-card col-span-2 row-span-1 flex items-center p-6 text-2xl font-bold" data-field="medium_banner">
        </div>
        <div class="s-card col-span-1 row-span-1 flex items-center justify-center p-2">
            <span class="s-highlight flex items-center justify-center w-full h-full text-2xl font-black" data-field="stats_box_1"></span>
        </div>
        <div class="s-card col-span-1 row-span-1 flex items-center justify-center p-2">
            <span class="s-highlight flex items-center justify-center w-full h-full text-2xl" data-field="stats_box_2"></span>
        </div>
        <div class="s-placeholder-box col-span-4 row-span-1 flex items-center p-6 border-dashed">
            <p class="s-text-body w-full text-center" data-field="footer_text"></p>
        </div>
    </div>
</section>
