<section class="l-slide w-full h-full flex flex-row items-stretch p-10 gap-10 relative overflow-hidden" id="slide-2">
    <div class="l-master-anchor"></div>

    <div class="w-1/2 flex flex-col justify-center gap-6 relative z-10">
        <h2 class="s-title" data-field="title" data-motion="fade-up"></h2>
        <p class="s-text-body" data-field="description" data-motion="fade-in" data-delay="200"></p>
    </div>
    <div class="w-1/2 flex h-full relative z-10" data-motion="zoom-in" data-delay="400">
        <div class="w-full h-full s-card s-placeholder-box flex justify-center items-center">
            <p class="s-text-body italic">Video / Image / Code Area</p>
        </div>
    </div>
</section>
